@model MvcDemo4.BL.Models.DepartmentVM
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-controller="Department" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>

@*    <label asp-for="Id">Department Id</label>
*@    @*    <input type="text" class="form-control" id="Name" name="Name" />*@
    <input type="hidden" class="form-control" asp-for="Id"  />

    <br />
    <br />


    <label asp-for="Name">Department Name</label>
    @*    <input type="text" class="form-control" id="Name" name="Name" />*@
    <input type="text" class="form-control" asp-for="Name"  />
    <span asp-validation-for="Name" class="text-danger"></span>
   

    <br />
    <br />


    <label asp-for="Code">Department Code</label>
    <input type="text" class="form-control" asp-for="Code"  />
    <span asp-validation-for="Code" class="text-danger"></span>

    <br />
    <br />

    <center>
        <a asp-controller="Department" asp-action="Index" asp-route-Id="@Model.Id" class="btn btn-info">Back To Data</a>
        <a asp-controller="Department" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger">Delete Data</a>
        <input type="submit" value="Edit" class="btn btn-success" />
        <input type="reset" value="Cancel" class="btn btn-warning" />
    </center>

</form>


@section MicrosoftValidation{

    <script src="e:\programming_learning\dotnetprojects\mvcdemo4\mvcdemo4\wwwroot\plugins\jquery-validation\jquery.validate.js"></script>
    <script src="e:\programming_learning\dotnetprojects\mvcdemo4\mvcdemo4\wwwroot\plugins\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>
    }


